# Carpeta de scripts del laboratorio
LAB_DIR=$HOME/bin/utils

# Carpeta donde estan los workspaces
WORKSPACES_DIR=$HOME/Documents/Work/vscode-workspace

# Tiempo por defecto para cualquier timer si quisiera usarlo
DEFAULT_TIMER=10

# Ruta base para proyectos Docker
DOCKER_SITES_PATH=$HOME/Documents/Work/docker-sites

# Configuración Git
GIT_DEFAULT_USER=your-username
GIT_DEFAULT_HOST=github.com
GIT_TOKEN=your-token-here
GIT_CLONE_DIR=$HOME/Projects
GIT_DEFAULT_BRANCH=main